<header>
    <mat-toolbar class="header" color="primary">
        <div class="logo">
            <app-logo></app-logo>
        </div>

        <span class="spacer"></span>
        <div *ngIf="isAuthentificated" class="user-panel">
            <button color="primary" mat-flat-button>
                <mat-icon>perm_identity</mat-icon> <span>{{email}}</span>
            </button>
            <button (click)="logout()" color="primary" mat-flat-button>
                <mat-icon>exit_to_app</mat-icon>Log off
            </button>
        </div>
    </mat-toolbar>
</header>