.header{
    padding: 0px;
    height: 60px;
    display: flex;
    
    
    .user-panel {
        margin-right: 10%;
        font-size: 12px;
    }
    
    .logo {
        flex: 1;
        margin-left: 10%;
    }
}
