.breadcrumb-container {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 10%;

    .breadcrumb {
        a {
            text-decoration: none;
        }
        a:visited {
            color: black;
        }
    }
}