.login-page {
    background-color: #eceff1;
    min-height: calc(100% - 120px);
    display: flex;
    align-items: center;
    justify-content: center;

    .login-page-content {
        width: 30%;

        mat-card-content {
            display: flex;
            flex-direction: column;

            mat-form-field {
                width: 100%;
            }
        }
    }
}