.header{
    padding: 0px;

    .spacer {
        flex: 1 1 auto;
    }
    
    .user-panel {
        margin-right: 30px;
        font-size: 12px;
    }
    
    .logo {
        margin-left: 10%;
    }
}
