<mat-form-field class="authors-list">
    <mat-label>Authors</mat-label>
    <mat-chip-list #chipList>
        <mat-chip *ngFor="let author of savedAuthors" [selectable]="selectable" [removable]="removable"
            (removed)="remove(author)">
            {{author.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="New author..." #authorInput [matAutocomplete]="auto"
            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let author of allAuthors" [value]="author">
            {{author.name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>