.section-container {
    padding: 20px 0px;

    .search-button {
        background-color: #67a300;
        color: white;
        margin-left: 10px;
    }

    .add-cource-container {
        height: 36px;

        button {
            float: right;
        }     
    }
}
